In [2]:
import pandas as pd
import glob

In [4]:
dict_tweets = {}
dir = r'C:\data\*.csv'
df_list = []

In [5]:
for csv_file in glob.iglob(dir):
    print(csv_file)
    df = pd.read_csv(csv_file, index_col=None, header=0)
    df_list.append(df)

C:\data\2020-06-28_13.32.00_output.csv
C:\data\2020-06-28_14.28.20_output.csv

C:\data\2020-06-29_21.51.51_output.csv

C:\data\2020-06-29_21.54.41_output.csv

C:\data\2020-06-29_22.06.32_output.csv

C:\data\2020-06-29_22.25.00_output.csv

C:\data\2020-07-01_13.13.50_output.csv

C:\data\all_data.csv

In [28]:
import csv

def read_from_text_file(file_name):
    lst = []
    with open(file_name, mode='r') as csv_file:
        csv_reader = csv.reader(csv_file)
        for row in csv_reader:
            lst.append(row[0])
    return lst

keywords = read_from_text_file('keywords.txt')
markets = read_from_text_file('markets.txt')

print(len(keywords))

for market in markets:
    print(market, df.loc[df['market'] == market].shape[0])

75
new york 107461

texas 4939
florida 8
california 138

chicago 27441

In [21]:
start_date = '2018-01-01'
df = pd.concat(df_list, axis=0, ignore_index=True)
# keep only tweets posted after start_date and drop duplicate Tweets

print(df.shape[0])

df = df.loc[df['date'] >= start_date].drop_duplicates(subset=['text'])

print(df.shape[0])

# for market in markets:
#     print(market, df.loc[df['market'] == market].shape[0])

306317

139987

In [29]:
# print(df.shape[0])

sum = 0

for keyword in keywords:
    print(keyword, ",", df.loc[df['keyword'] == keyword].shape[0])
    sum += df.loc[df['keyword'] == keyword].shape[0]

print(sum)

united , 13550
cvs , 11229

urgent care , 766
emergency room , 703

ed , 5631
er , 10548

the blues , 1634
anthem , 888

cigna , 157
humana , 973

medicare , 5125
medicaid , 1495

kaiser , 957
out of pocket , 1335

premium , 7872
surgery , 11632

surgical , 1803
procedure , 2088

treatment , 13256
diabetes , 3843

hypertension , 240
cancer , 25269

dialysis , 479
chronic , 2782

disease , 8126
acute , 931
radiology , 444

mri , 703
x-ray , 360
xray

 , 118
lab work , 618
blood work , 322

bcbs , 143
blue cross , 244
hcsc , 80

deductible , 440
aetna , 193
pbm , 66

expressscripts , 21
pandemic health insurance , 187
copay , 186

minuteclinic , 11
healthcare plan , 711

uhc , 659
bluecross , 13
healthcare coverage

, 240
insurance customer service , 19

optum , 36
healthcare claims , 43

renal disease , 15
healthcare call center , 1
insurance premium , 2

healthcare customer service , 9
united health care  , 85
takecare clinic , 8

emergency department , 130
erectile dysfunction , 121
care mark , 240

express scripts , 17
optumrx , 16
Anthem BCBS , 31

ESRD , 24
united healthcare , 11
copayment , 11
caremark , 3

heath plan , 6
blue shield , 7
insurance deductible , 2
covid health insurance

 , 67
corona health insurance , 6
covid-19 health insurance , 1
Anthem insurance , 1

medical premium , 1
health premium , 2
insurance call center , 1
139987

In [ ]:
df.to_csv('C:/data/all_data.csv')

In [22]:
for keyword in keywords:
    print(keyword, df.loc[(df['keyword'] == keyword)].shape[0])

aetna 193
united health care  85
united healthcare 11

uhc 659
cvs 11229
minuteclinic 11

healthhub 0
takecare clinic 8
urgent care 766
emergency room 703

er 10548
emergency department 130
erectile dysfunction 121
emergency room

 703
caremark 3
care mark 240

pbm 66
expressscripts 21
express scripts 17
esrx 0

optum 36
optumrx 16
bluecross

 13
bcbs 143
blue cross 244
the blues 1634

blue shield 7
Anthem BCBS 31
Anthem Blue Cross 0
Anthem insurance 1
hcsc 80

cigna 157
humana 973
medicare 5125
medicaid 1495
kaiser 957

deductible 440
medical deductible 0
health deductible 0
insurance deductible 2
out of pocket 1335

out of pocket max 0
out of pocket maximum 0
copay 186
copayment 11
premium 7872

medical premium 1
health premium 2
insurance premium 2
healthcare customer service 9
insurance customer service 19
healthcare call center 1

insurance call center 1
membercare customer service 0
membercare call center 0
pandemic health insurance 187
covid health insurance 67
covid-19 health insurance 1

corona health insurance 6
healthcare claims 43
healthcare coverage 240
surgery 11632
surgical 1803
procedure

 2088
treatment 13256
healthcare plan 711
heath plan 6
diabetes 3843
hypertension

 240
cancer 25269
renal disease 15
ESRD 24
dialysis 479

chronic 2782
disease 8126
acute 931
radiology 444
mri

 703
x-ray 360
xray 118
lab work 618
blood work 322

In [ ]:
from langdetect import detect, detect_langs

counter = 0
for index, row in df.iterrows():
    if detect(row['text']) != 'en':
        print(row['text'], detect_langs(row['text']))
    # print(detect(row['text']))
    if counter == 5000:
        break
    counter += 1

Yo siempre estoy muy bien acompañada !! Dios que muñecos @lacalleteve @United Palace of… https://www.instagram.com/p/BedgNGxhMoZ/ [es:0.9999973328024085]

Flyover of newark_liberty . . . #avgeek #avgeeks #avgeekery @united @Newark Liberty… https://www.instagram.com/p/BeYXmcZDVIV/ [en:0.42856955644623596, af:0.2857155665114095, no:0.2857145182706768]

Jessey & Joy FEB14 #UnitedPalace descuento Internet/Teléfono, usando el codigo 'Amor' @United… https://www.instagram.com/p/BeRAtG2lLQ9/ [en:0.5714256901949436, es:0.42857180884265034]

Cicatriz de un día perfecto. en United Nations Organization - UNO -… https://www.instagram.com/p/BeJSnvwn7g4ivFz1uiFtjV9a4SRUG_WGTD8XYo0/ [es:0.8571393144079531, it:0.14285794573082536]

Pássaro de hoje para chegar em casa. Depois de mais uma #ces2018 #bigmetalbird #united em Newark… https://www.instagram.com/p/Bd6Up40DyLA/ [pt:0.9999969008859572]

Nações Unidas? em United Nations https://www.instagram.com/p/Bds10FhgCf1/ [pt:0.5714281584647914, en:0.428571623942656]

Todo para el gran Concierto De los Hermanos rosario en el United palace.!! tuboletajp allá nos… https://www.instagram.com/p/BdlpnvynZ1q/ [es:0.9999983265213837]
Welcome to my morning angellalubala @millardayo harriskapiga @MsamiJoseph @amatabata @United… https://www.instagram.com/p/BdiB6iWldtc/ [tl:0.8571379338156975, en:0.14285694993534026]

2018/01/27: Brooklyn, NY, United States: Justus Worldwide & Brooklyn Deep Mike Ferrer's 50t… https://www.dancedeets.com/events/1844922662246995/justus-worldwide-brooklyn-deep-mike-ferrers-50th-bday-bash?utm_campaign=autopost&utm_medium=share&utm_source=twitter_feed [af:0.8571422781034795, en:0.14285757771536353]

I'm at CVS in West Orange, NJ https://www.swarmapp.com/c/lI23LXsciMJ [de:0.5714281979228186, en:0.4285711339419864]